// Colors
$theme-color: "#000000";

// Breakpoints
$mobile-breakpoint: "767px";

$tablet-breakpoint: "768px";
$tablet-container: "720px";

$desktop-breakpoint: "1200px";
$desktop-container: "1146px";
